<!-- create.ejs -->
<h2 class="my-3">Add a New Book</h2>
<form action="/books" method="POST" class="row g-3">
  <div class="col-md-6">
    <label for="title" class="form-label">Title:</label>
    <input name="title" id="title" class="form-control" required />
  </div>

  <div class="col-md-6">
    <label for="author" class="form-label">Author:</label>
    <input name="author" id="author" class="form-control" />
  </div>

  <div class="col-md-4">
    <label for="isbn" class="form-label">ISBN:</label>
    <input name="isbn" id="isbn" class="form-control" />
  </div>

  <div class="col-md-4">
    <label for="rating" class="form-label">Rating (1-5):</label>
    <input type="number" name="rating" id="rating" class="form-control" min="1" max="5" />
  </div>

  <div class="col-md-12">
    <label for="review" class="form-label">Review:</label>
    <textarea name="review" id="review" class="form-control"></textarea>
  </div>

  <div class="col-md-4">
    <label for="date_read" class="form-label">Date Read:</label>
    <input type="date" name="date_read" id="date_read" class="form-control" />
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add Book</button>
  </div>
</form>